BASE_URL=http://localhost:5000
DSN=postgresql://user:pass@localhost:5432/spotify_matcher
SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=
SPOTIPY_REDIRECT_URI=http://localhost:5000/auth/callback

FLASK_APP=spotify_matcher.flaskr
FLASK_DEBUG=1
