SERVER_NAME=localhost
#SERVER_NAME=fcfd-88-212-40-227.eu.ngrok.io
DSN=postgresql://user:pass@localhost:5432/spotify_matcher
SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=
SPOTIPY_REDIRECT_URI=http://localhost:5000/auth/callback
#SPOTIPY_REDIRECT_URI=https://fcfd-88-212-40-227.eu.ngrok.io/auth/callback

SONG_CACHE_TIME=600  # seconds

FLASK_DEBUG=1
