{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Invitation{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if invitation.author_id != g.user.id %}
    <article class="invitation">
        <header>
            <div>
                <h1>
                    <a href="{{ invitation.profile_url }}" target="_blank">{{ invitation.name }}</a> invited you match their songs with yours.
                </h1>
            </div>
        </header>
    </article>
    <form method="post" action="{{ url_for('invitation.accept', invitation_id=invitation.id) }}">
        <input type="submit" value="Accept">
    </form>
    {% endif %}
    {% for accepted in accepted_invitations %}
        {% if loop.first %}
        Accepted:
        {% endif %}
        <a href="{{ accepted.profile_url }}" target="_blank">
        <img src="{{ accepted.photo_url }}" alt="{{ accepted.name }}"/>
        </a>
    {% else %}
        No one accepted this invitation yet.
    {% endfor%}

    <article class="matches">
        <header>
            <div>
                <h1>
                    Matches
                </h1>
            </div>
        </header>
        <div>
            {% for song in matches %}
            <a href="{{ song.url }}" target="_blank">{{ song.name }}</a><br/>
            {% endfor %}
        </div>
    </article>


{% endblock %}
