{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Invitation{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if new_playlist %}
    <div class="flash">
        Songs are being added to the '<a href="{{new_playlist.external_urls.spotify}}\">{{ new_playlist.name }}'</a> playlist <img src="https://cdn.frankerfacez.com/emoticon/612960/1">.
    </div>
    {% endif %}
    {% if retrieving_songs %}
    <div class="flash">
        Retrieving songs. If no matches are found, try to wait a couple seconds <img src="https://cdn.frankerfacez.com/emoticon/349048/1">... and then refresh the page <img src="https://cdn.frankerfacez.com/emoticon/61496/1">.
    </div>
    {% endif %}
    {% if invitation.author_id != g.user.id %}
    <article class="invitation">
        <header>
            <div>
                <h1>
                    <a href="{{ invitation.profile_url }}" target="_blank">{{ invitation.name }}</a> invited you match their songs with yours <img src="https://cdn.frankerfacez.com/emoticon/61496/1">.
                    {% if g.user.id not in accepted_invitations | map(attribute="id") %}
                     Click accept to accept <img src="https://cdn.frankerfacez.com/emoticon/265650/1">.
                    {% endif %}
                </h1>
            </div>
        </header>
    </article>
    {% if g.user.id not in accepted_invitations | map(attribute="id") %}
    <form method="post" action="{{ url_for('invitation.accept', invitation_id=invitation.id) }}">
        <input type="submit" value="Accept">
    </form>
    {% endif%}
    {% endif %}
    {% for accepted in accepted_invitations %}
        {% if loop.first %}
        Accepted:
        {% endif %}
        <a href="{{ accepted.profile_url }}" target="_blank">
        <img src="{{ accepted.photo_url }}" width="100" height="100" alt="{{ accepted.name }}"/>
        </a>
    {% else %}
        No one accepted this invitation yet.
    {% endfor%}

    <article class="matches">
        <header>
            <div>
                <h1>
                    Matches
                </h1>
            </div>
            {% if matches %}
            <form method="post" action="{{ url_for('invitation.save_matches', invitation_id=invitation.id) }}">
                <input type="hidden" name="owned_playlist" value="{{ 'on' if 'owned_playlist' in checked_sources }}">
                <input type="hidden" name="not_owned_playlist" value="{{ 'on' if 'not_owned_playlist' in checked_sources }}">
                <input type="hidden" name="liked_songs" value="{{ 'on' if 'liked_songs' in checked_sources }}">
                <input type="hidden" name="top_tracks" value="{{ 'on' if 'top_tracks' in checked_sources }}">
                <input type="hidden" name="recently_played" value="{{ 'on' if 'recently_played' in checked_sources }}">
                <input type="submit" value="Save to playlist">
            </form>
            {% endif %}
        </header>
        {% if accepted_invitations %}
        <div>
            <form class="checkboxes" method="post" action="{{ url_for('invitation.invitation', invitation_id=invitation.id) }}">
                <input type="checkbox" name="owned_playlist" id="owned_playlist" {{ 'checked' if 'owned_playlist' in checked_sources }}> <label for="owned_playlist">Owned playlists</label>
                <input type="checkbox" name="not_owned_playlist" id="not_owned_playlist" {{ 'checked' if 'not_owned_playlist' in checked_sources }}> <label for="not_owned_playlist">Not owned playlists</label>
                <input type="checkbox" name="liked_songs" id="liked_songs" {{ 'checked' if 'liked_songs' in checked_sources }}> <label for="liked_songs">Liked songs</label>
                <input type="checkbox" name="top_tracks" id="top_tracks" {{ 'checked' if 'top_tracks' in checked_sources }}> <label for="top_tracks">Top tracks</label>
                <input type="checkbox" name="recently_played" id="recently_played" {{ 'checked' if 'recently_played' in checked_sources }}> <label for="recently_played">Recently played</label>
                <input type="submit" value="Filter">
            </form>
        </div>
        {% endif %}
        <div>
            {{ matches | length }} matches <br />
            {% for song in matches %}
            <a href="{{ song.url }}" target="_blank">{{ song.name }}</a><br/>
            {% endfor %}
        </div>
    </article>


{% endblock %}
