{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Invitations{% endblock %}</h1>
  <form method="post" action="{{ url_for('invitation.create') }}">
    <input type="submit" value="New">
  </form>
{% endblock %}

{% block content %}
  {% for invitation in invitations %}
    <article class="invitation {% if new_invitation_id == invitation.id %}new-invitation{% endif %}">
      <header>
        <div>
          <h1><a href="{{ url_for('invitation.invitation', invitation_id=invitation.id) }}">{{ invitation.id }}</a></h1>

          {% for accepted in get_accepted_invitations(invitation.id) %}
            {% if loop.first %}
            Accepted:
            {% endif %}
            <a href="{{ accepted.profile_url }}" target="_blank">
              <img src="{{ accepted.photo_url }}" width="100" height="100" alt="{{ accepted.name }}"/>
            </a>
          {% else %}
            No one accepted this invitation yet.
          {% endfor%}
          <div class="about">Created at {{ invitation.created_at }}</div>
        </div>
        {# <a class="action" href="{{ url_for('invitation.delete', id=invitation['id']) }}">Delete</a> #}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
