<!doctype html>
<title>{% block title %}{% endblock %} - Spotify matcher</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Spotify matcher</h1>
  {% if g.user %}
  <ul>
    <li style="padding: 0.5em 1em 0 0">Fetched songs: {{ get_fetched_songs_count() }}</li>
    <li style="padding: 0.5em 1em 0 0"><form action="{{ url_for('invitation.fetch')}}?next={{ url_for(request.endpoint, **request.view_args) }}" method="POST"><input type="submit" value="Fetch songs from Spotify"/></form></li>
    <li><a href="{{ url_for('invitation.invitations') }}">Your invitations</a>
    <li><a href="{{ url_for('invitation.accepted_invitations') }}">Accepted invitations</a>
  </ul>
  {% endif %}
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
